<div class="row">
      <div class="input-cart col s12 m10 push-m1 z-depth-2 grey lighten-5">
        <div class="col s12 m5 login">
          <h4 class="center">Login</h4>
          <br>
          <form action="check.php" method="post" autocomplete="off" class="login-form">
            <div class="row">
              <div class="input-field">
                <input type="text" id="user" name="username" class="validate" required="required" placeholder="Email">
                <label for="user">
                  <i class="material-icons">person</i>                </label>
              </div>  
            </div>
            <div class="row">
              <div class="input-field">
                <input type="password" id="pass" name="password" class="validate" required="required" placeholder="Senha">
                <label for="pass">
                <i class="material-icons">lock</i>
                </label>
              </div>  
            </div>
            <div class="row">
              <div class="switch col s6">
                <label>
                  <input type="checkbox" class="lembrar">
                  <span class="lever"></span>
                  Lembrar
                </label>
              </div>
              <div class="col s6">
                <button type="submit" name="login" class="btn waves-effect waves-light blue right">Login</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Signup form -->
        <div class="col s12 m7 signup">
        <div class="signupForm">
          <h4 class="center">Registrar</h4>
          <br>
          <form class="cadastro-form" action="regCheck.php" name="signup" method="post" autocomplete="off">
            <div class="row">
              <div class="input-field col s12 m6">
                <input type="text" id="name-picked" name="namepicked" class="validate" required="required" placeholder="Username">
                <label for="name-picked">
                       <i class="material-icons">person_add</i>       
                </label>
              </div>
              <div class="input-field col s12 m6">
                <input type="password" id="pass-picked" name="passpicked" class="validate" required="required" placeholder="Senha">
                <label for="pass-picked">
                  <i class="material-icons">lock</i>                    </label>
              </div>  
            </div>
            <div class="row">
              <div class="input-field email">
                <div class="col s12">
                  <input type="text" id="email" name="email" class="validate" required="required" placeholder="Email">
                  <label for="email">
                    <i class="material-icons">mail</i> 
                  </label>
                </div>
              </div>  
              <div class="row">
                <label class="btn btn-large btn-file-up" style="cursor:pointer">
                    Icone de Perfil
                    <input type="file" style="display: none;" class="icon" accept="image/*">
                </label>
              </div>
            </div>
          </form>
          <div class="row">
            <button type="submit" name="btn-signup" class="btn blue right waves-effect waves-light btn-cadastro">Cadastrar</button>
          </div>
          </div>
          <div class="signup-toggle center" >
            <h4 class="center">Não tem uma conta ? <a href="#/cadastrar">Registrar</a></h4>
          </div>
        </div>
        <div class="col s12">
          <br>
          <div class="legal center">
          </div>
          <div class="legal center">
          <div class="col s12 m7 right">
            <p class="grey-text policy center">Ao se cadastrar automaticamente voce concorda com <a href="#!">Politica de Privacidade</a> e  <a href="#!">Termos de uso</a> inclui <a href="#!">Usar Cookies</a>.</p>
          </div>
          <div class="col s12 m5">
            <% include copyright.ejs %>
          </div>
          </div>

        </div>
      </div>
    </div>
    <div class="fixed-action-btn toolbar">
      <a class="btn-floating btn-large blue white-text text-center valign-wrapper" style="height:60px;width:65px">
        Login
      </a>
      <ul>
        <li><a class="indigo center" href="#!">Login com Facebook</a></li>
        <li><a class="blue center" href="#!">Login com Twitter</a></li>
        <li><a class="red center" href="#!">Login com Google +</a></li>
      </ul>
    </div>
