 <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="Nickname" class="nick"/><br/>
          	<label class="btn btn-file-up" style="cursor:pointer">
      			    Profile Icon 
      			    <input type="file" style="display: none;" class="icon" accept="image/*">
      			</label>
        <button class="btn-login">login</button>
      </form>
    </div>
</div>