<div class="menu">
			<div class="one">
				<div class="layer-1">
					<i class="fa fa-users" aria-hidden="true"></i>
					<p>Chat</p>
					<span class="users-on spanabble"></span>
				</div>
				<div class="layer-2">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
			</div>

			<div class="two">
				<div class="peoples">
					<p class="ons-agora">ONLINE AGORA</p>
					<div class="peoples-timeline">
						<div class="people">
							<span class="status-active"></span>
							<p class="name">Junior Bot</p>
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Logo_wikibot.svg/1024px-Logo_wikibot.svg.png" alt="" class="my-icon">
						</div>
					</div>
				</div>
			</div>
		</div>