<div class="timeline">
		<div class="head">
				<div class="item">
					<p class="no-mobile">Linguagem:</p> 
					<img src="<%- url -%>/src/images/br-lang.png" alt="" class="band">
				</div>
				<div class="item">
					<i class="fa fa-comments" aria-hidden="true"></i>
					<p class="no-mobile">Chat</p>
					<span class="spanabble messages-number"></span>
				</div>
				<div class="item logout" style="cursor:pointer">
					<p class="no-mobile">Sair</p>
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</div>
			</div>

			<div class="messages">
				<div class="mobile menu-toggle">
					<i class="fa fa-bars fa-lg" style="display:none" aria-hidden="true"></i>
				</div>
				<div class="commands">
					<i class="fa fa-file-video-o fa-lg video-up" aria-hidden="true"></i>
					<i class="fa fa-file-audio-o fa-lg audio-up" aria-hidden="true"></i>
					<i class="fa fa-file-code-o fa-lg code-up" aria-hidden="true"></i>
					<i class="fa fa-file-image-o fa-lg image-up" aria-hidden="true"></i>
					<i class="fa fa-info-circle help-chat" aria-hidden="true"></i>
				</div>
				<div class="emojis"></div>
				<div class="luz">
					<div class="luz-conteudo"></div>
					<div class="luz-btn">
						<button class="btn-link luz-btn" onclick="acender_luz()">Acender Luz</button>
					</div>
				</div>
			</div>

			<div class="emit">
				<div class="caixa">
					<i class="fa fa-paperclip open-commands" aria-hidden="true"></i>
					<input type="text" class="emit-message" placeholder="Envie sua mensagem">
				<i class="fa fa-comments-o open-emoji" aria-hidden="true"></i>
			</div>
		</div>

	</div>