<div class="timeline">

      <!-- HEAD SECTION -->
		  <div class="head">
				<div class="item" style="cursor:pointer">
					<p class="no-mobile">Cores</p>
					<i class="fas fa-exchange-alt"></i>
				</div>
				<div class="item">
					<i class="fa fa-comments" aria-hidden="true"></i>
					<p class="no-mobile">Chat</p>
					<span class="spanabble messages-number"></span>
				</div>
				<div class="item logout" style="cursor:pointer">
					<p class="no-mobile">Sair</p>
					<i class="fas fa-sign-out-alt"></i>
				</div>
			</div>

      <!-- MESSAGES SECTION -->
      <!-- Mensages Box -->
      <!-- <timeline v-bind:mensagens="messages"></timeline> -->

      <div class="messages">
          <div class="mobile menu-toggle">
            <i class="fas fa-bars"></i>
          </div>

          <div class="commands">
            <span class="video-up">
              <i class="fas fa-file-video fa-lg" aria-hidden="true"></i>
            </span>
            <span class="audio-up">
              <i class="fas fa-file-audio fa-lg" aria-hidden="true"></i>
            </span>
            <span class="code-up">
              <i class="fas fa-file-code fa-lg" aria-hidden="true"></i>
            </span>
            <span class="image-up">
              <i class="fas fa-file-image fa-lg" aria-hidden="true"></i>
            </span>
            <span class="help-chat">
              <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
            </span>
          </div>

          <div class="menu-colors" style="display:none">
            <div class="btns">
              <button class="change-msg-color">Trocar cor de mensagem enviada</button>
              <button class="change-back-color">Trocar plano de fundo</button>
            </div>
          </div>

          <div class="emojis"></div>

          <div class="luz">
            <div class="luz-conteudo"></div>
            <div class="luz-btn">
              <button class="btn-link luz-btn" onclick="acender_luz()">Acender Luz</button>
            </div>
          </div>

      </div>

			<div class="emit">
				<div class="caixa">
  					<span class="open-commands">
  						<i class="fas fa-paperclip"></i>
  					</span>
  					<input type="text" class="emit-message" placeholder="Envie sua mensagem" v-on:keyup="writeMessage" v-on:keyup.enter="sendMessage">
  					<span class="open-voice">
  						<i class="fas fa-microphone"></i>
  					</span>
  					<span class="open-emoji">
  						<i class="fas fa-smile"></i>
  					</span>
  		  </div>
	   </div>

</div>
