<div class="timeline">
			<div class="head">
				<div class="item">
					Linguagem: 
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/2000px-Flag_of_Brazil.svg.png" alt="" class="band">
				</div>
				<div class="item">
					<i class="fa fa-comments" aria-hidden="true"></i>
					<p>Chat</p>
					<span class="spanabble messages-number"></span>
				</div>
				<div class="item logout" style="cursor:pointer">
					<p>Sair</p>
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</div>
			</div>

			<div class="messages"></div>

			<div class="emit">
				<div class="caixa">
					<i class="fa fa-paperclip" aria-hidden="true"></i>
					<input type="text" class="emit-message" placeholder="Envie sua mensagem">
					<i class="fa fa-comments-o" aria-hidden="true"></i>
				</div>
			</div>

		</div>