{
  "presets": [
    [
      "@babel/preset-env",
      "@babel/preset-react",
      {
        "loose": true,
        "targets": {
          "node": "6.9"
        }
      }
    ]
  ],
  "sourceType": "unambiguous"
}
