.DS_Store
node_modules/
/dist/
/app-desktop/
/app/public/src/uploads/(imagem|arquivo|audio|video)/*
/env/(local|prod)/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npmrc

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
