registry=https://registry.npmjs.org/
strict-ssl=false
init.author.name = PaulaoDev
init.author.email = jskhanframework@gmail.com
# an email is required to publish npm packages
email=jskhanframework@gmail.com
always-auth=true
strict-ssl=false
save-exact=true
