<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KhanChat</title>
	<link rel="shootcut icon" href="src/images/icon.png">
	<link rel="stylesheet" href="src/css/min/login-mobile.css">
	<link rel="stylesheet" href="src/css/min/login.css">
	<link rel="stylesheet" href="src/css/min/bootstrap.css">
</head>
<body>

	<div class="container">
		<% include includes/login.ejs %>
		<% include includes/copyright.ejs %>
	</div>
	
	<script src="src/js/min/jquery.js"></script>
	<script src="src/js/min/electron.js"></script>
	<script src="src/js/min/login.js"></script>

</body>
</html>