<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KhanChat</title>
	<link rel="shootcut icon" href="https://avatars0.githubusercontent.com/u/29682878?s=460&v=4">
	<link rel="stylesheet" href="src/css/min/painel.css">
	<link rel="stylesheet" href="src/css/min/menu.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

	<div class="container">
		<% include includes/timeline.ejs %>
		<% include includes/menu.ejs %>
	</div>
	
	<script src="../socket.io/socket.io.js"></script>
	<script src="src/js/min/chat.js"></script>
	<script>

		const socket = io();
		const $ = document.querySelector.bind(document);

		// Template
		const chat = {
			'peoples': 1,
			'messages': 0,
			'messages_receive_user': [],
			'lang': 'pt-br'
		};

	</script>
	<script src="src/js/min/app.js"></script>

</body>
</html>