<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Code File</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/prism/1.6.0/themes/prism.css">
	<style>
		*{margin:0;padding:0;}
		pre{
			max-width: 100% !important;
    		height: 93vh !important;
    		padding: none !important;
    		margin: 0 auto;
		}
	</style>
</head>
<body>
	<pre><code><%- code -%></code></pre>
	<script>
		const patterns = {
			"js": "language-javascript",
			"css": "language-css",
			"php": "language-php",
			"html": "language-html",
			"scss": "language-scss",
			"sass": "language-sass",
			"go": "language-go",
			"py": "language-python",
			"ts": "language-typescript",
			"c": "language-c",
			"rb": "language-ruby"
		};
		let ext = location.pathname.split('.').pop();
		document.querySelector('code').className += patterns[ext];
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/prism/1.6.0/prism.js"></script>
</body>
</html>