@media only screen and (max-width: 500px) {
	.no-mobile{ display: none !important; }
	.mobile{ display: block !important; }
	.menu-toggle>i{ display: block !important; }
	.timeline{
		width: 100%;
	}
    .menu{
    	display: none;
    	position: absolute !important;
    	z-index: 50 !important;
    	height: 100vh !important;
    	width: 100% !important;
    }
    .menu-toggle{
    	position: absolute;
    	right: 0;
    	margin-right: 25px;
    	margin-top: 25px;
    	border-radius: 100%;
    	background: #3498db;
    	height: 50px;
   	 	width: 50px;
   	 	display: flex !important;
   	 	justify-content: center;
   	 	align-items: center;
   	 	color: #fff;
   	 	cursor: pointer;
   	 	z-index: 100;
    }
    .messages{
    	height: 75vh;
    }
    .message {
    	max-width: 95%;
    	margin: 0;
	}
	span.arrow{ margin-left: 0px !important; }
	.user>img{
		margin-left: 0px !important;
	}
	.emit{height: 10vh}
	.emit>.caixa{
		width: 100%;
		height: 100%;
	}
	.emit>.caixa>input{
		width: 60%;
	}
	.commands{
		width: 100% !important;
    	bottom: 10vh !important;
	}
	.emojis{
		width: 100% !important;
    	bottom: 10vh !important;
    	left: 0 !important;
	}
}