/* EMIT */
* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100% !important;
	height: 100vh !important;
	background: #F5F9E9 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	padding: 0 !important;
	margin: 0 !important;
}
.timeline {
	width: 70%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	.head {
		width: 100%;
		height: 15vh;
		background: #62929E;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #F5F9E9;
		.item {
			height: 100%;
			width: calc(100%/3);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.band {
			width: 30px;
			height: 30px;
			border-radius: 100%;
		}
	}
}
.item {
	>* {
		margin-right: 8px;
		margin-left: 8px;
	}
}
.messages {
	height: 70vh;
	width: 100%;
	overflow-y: scroll;
}
.message {
	max-width: 78%;
	height: auto;
	border-radius: 4px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 13%;
	.user {
		width: 15%;
		height: 100%;
		padding-left: 20px;
		color: #f4f4f4;
		background: transparent;
		img {
			width: 40px;
			height: 42px;
			border-radius: 100%;
			margin-left: 20px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
	}
	.body {
		width: 75%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #ecf0f1;
		background: #48569E;
		border-radius: 5px;
		.body-user{
			width: 90%;
		    display: flex;
		    justify-content: flex-start;
		    align-items: center;
		    padding-left: 2px;
			padding-top: 10px;
			padding-bottom: 3px;
			font-family: 'Lato', sans-serif;
		}
		.name-user {
			display: flex;
			justify-content: flex-start;
			width: auto;
			align-items: center;
			font-size: 15px;
			font-weight: bold;
		}
		.text {
			width: 90%;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			overflow-x: hidden;
			word-wrap: break-word;
			padding-bottom: 15px;
    		padding-top: 5px;
			font-size: 14px;
			font-family: -apple-technique, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
			img.upload{
				width: 100%;
				height: 45vh;
				border-radius: 5px;
				padding-top: 15px;
				padding-bottom: 15px;
			}
			video.video-upload{
				width: 100%;
				height: 45vh;
				border-radius: 5px;
			}
			audio.audio-upload{
				width: 100%;
				height: 5vh;
				border-radius: 5px;
			}
			a.upload-up{
				width: auto;
				padding: 5px;
			}
		}
		.time {
			display: flex;
			justify-content: flex-end;
			color: #bdc3c7;
			font-size: 13px;
			margin-left: 10px;
			font-family: 'Open Sans', sans-serif;
		}
	}
}
.arrow {
	margin-left: -20px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid #48569E;
}
.arrow-user {
	border-top: 7.5px solid transparent;
	border-bottom: 7.5px solid transparent;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid #48569E;
}
.text-user {
	font-size: 10px !important;
	background: #48569E;
	padding: 7px;
	border-radius: 5px !important;
	color: #fff;
}
.user-message {
	min-width: 130px;
	max-width: 170px;
	height: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 0 !important;
	>.message {
		margin-left: 0 !important;
		padding-top: 3 !important;
		padding-bottom: 3 !important;
	}
}
.people {
	.name {
		min-width: 80px;
		margin-left: 7px;
	}
}
.emit {
	width: 100%;
	height: 15vh;
	background: #62929E;
	display: flex;
	justify-content: center;
	align-items: center;
	.caixa {
		width: 85%;
		height: 50%;
		background: #f4f4f447;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		border-radius: 25px;
		color: #fff;
		i {
			padding-left: 25px;
			padding-top: 20px;
			cursor: pointer;
		}
		input {
			width: 75%;
			height: 100%;
			background: transparent;
			border: none;
			outline: none;
			padding-left: 20px;
			font-size: 17px;
			&::-webkit-input-placeholder {
				color: #fff;
			}
		}
	}
}
.btn-link {
	width: 100px;
	height: 35px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
	margin-left: 5px;
}
img.emojione {
	width: 25px !important;
	padding-top: 2px;
}
.emojis, .commands {
	position: absolute;
	z-index: 10;
	bottom: 15vh;
	width: 35%;
	left: 33.9%;
	height: 40vh;
	background: #fff;
	display: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.emojis{
	background: #416788;
	border-radius: 5px;
	left: 33%;
	margin-bottom: 10px;
}

.commands{
	left: 0 !important;
	min-height: 10vh !important;
	height: auto;
	background: #416788;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 10px;
}

.commands>i{
	width: calc(100%/5);
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all .5s ease-in;
	font-size: 17px;
	color: #f5f5f5;
}

.commands>i:hover{
	transition: all .5s ease-in;
	color: #313638;
	font-size: 20x;
}

.emoji-icon {
	width: calc(100%/3);
	height: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	img.emojione {
		width: 30px !important;
	}
}

.btn-file-upload{
	width: 50%;
	height: 6vh;
	background: #48569e;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
	color: #fff;
}

.luz{
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .9);
	position: absolute;
	z-index: 20;
	top: 0;
	display: none;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    .luz-conteudo{
    	img{
    		width: 100%;
    		height: 100%;
    	}
    	video{
    		width: 100%;
    		height: 100%;
    	}
    	audio{
    		width: 80%;
    		height: 15vh;
    	}
    }
}

.luz-conteudo{
	margin: 0 auto;
	width: 80%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.acender-luz{
	border: 0;
	background: #3498db;
	color: #fff;
	font-size: 17px;
}

.luz-btn>button{
	border: 0;
    background: #3498db;
    color: #fff;
    margin-top: 30px;
    padding-bottom: 30px;
    height: 60px;
    padding: 20px;
    width: 150px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}

.helped{
	height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a{ 
    	width: 100%;
    	height: 100%;
    	text-decoration: none;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	flex-direction: column; 
    }
    .help-item{
    	    background: #263443;
		    height: 8vh;
		    width: 75%;
		    display: flex;
		    justify-content: space-around;
		    align-items: center;
		    border-radius: 5px;
		    margin-top: 10px;
		    margin-bottom: 10px;
		    i{
		    	background: #2c3e50;
			    height: 100%;
			    width: 20%;
			    color: #fff;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    border-top-left-radius: 5px;
			    border-bottom-left-radius: 5px;
		    }
		    a, p{
		    	width: 80%;
		    	display: flex;
			    justify-content: center;
			    align-items: center;
			    color: #fff;
			    text-decoration: none;
		    }
    }
}
